/* GLOBAL */

fieldset, h1 {
    text-align: center;
  }

h1, h2, p, li{
    font-family: "Roboto";
}

.vert {
    background-color: greenyellow;
    border: 2px solid black;
}

.violet {
    background-color: rgb(208, 105, 255);
    border: 2px solid black;
}

.orange {
    background-color: orangered;
    border: 2px solid black;
}

.bleu {
    background-color: cornflowerblue;
    border: 2px solid black;
}

.yellow {
    background-color: yellow;
    border: 2px solid black;
}

/* EXERCICE 1*/
/* NO POSITION */

#no-position-1 {
    width: 600px;
    height: 200px;
    margin: auto;
    padding-top: 50px;
}

#no-position-2 {
    width: 400px;
    height: 100px;
    margin: auto;
    padding-top: 50px;

}

#no-position-3 {
    width: 200px;
    height: 10px;
    margin: auto;
    padding-top: 50px;

}

/* EXERCICE 2 */
/* POSITION RELATIVE */

#relative-1 {
    width: 610px;
    height: 200px;
    position: relative;
    margin: auto;
}

#relative-2 {
    width: 450px;
    height: 100px;
    position: relative;
    top: 50px;
    left: 240px;
}

#relative-3 {
    width: 330px;
    height: 50px;
    position: relative;
    top: 25px;
    right: 300px;
}


/* EXERCICE 3 */
/* POSITION ABSOLUTE */

#fd-absolute {
    height: 400px;
}

/* Ici je suis obligée de donner une valeur à ma hauteur */

#absolute-1 {
    width: 600px;
    height: 200px;
    position: absolute;
    left: 320px;
}

#absolute-2 {
    width: 400px;
    height: 100px;
    position: absolute;
    margin: 55px 0 0 95px;
}

#absolute-3 {
    width: 100px;
    height: 100px;
    position: absolute;
    margin: 150px 0 0 55px;
}

/* EXERCICE 4 */
/* POSITION ABSOLUTE */

#fd-absolute2 {
    height: 550px;
}

#absolute2-1 {
    width: 600px;
    height: 50px;
    position: absolute;
    margin: 0 0 0 300px;
}

#absolute2-2 {
    width: 200px;
    height: 200px;
    position: absolute;
    margin: 100px 200px 200px 200px;
}

#absolute2-3 {
    width: 100px;
    height: 100px;
    position: absolute;
    margin: 50px 200px 200px 50px;
}

#absolute2-4 {
    width: 100px;
    height: 100px;
    position: absolute;
    margin: 200px 200px 200px 200px;
}

/* EXERCICE 5 */
/* POSITION ABSOLUTE SQUARES */

#fd-absolute3 {
    height: 700px;
}

#absolute3-1 {
    box-sizing: border-box;
    position: absolute;
    width: 600px;
    height: 600px;
    left: calc(100vw - 50vw - 300px);
}

#absolute3-2 {
    position: relative;
    width: 250px;
    height: 250px;
    left: 325px;
    top: 30px;
  }
  
  #absolute3-3 {
    position: relative;
    width: 250px;
    height: 250px;
    left: 610px;
    top: -223px;
  }
  
  #absolute3-4 {
    position: relative;
    width: 250px;
    height: 250px;
    left: 325px;
    bottom: 192px;
  }
  
  #absolute3-5  {
    position: relative;
    width: 250px;
    height: 250px;
    left: 610px;
    bottom: 445px;
  }

/* EXERCICE 6 */
/* FREE POSITION */

#free-pos-1 {
    box-sizing: border-box;
    position: absolute;
    width: 600px;
    height: 600px;
    left: calc(100vw - 50vw - 300px);
}

#free-pos-2 {
    width: 236px;
    height: 236px;
    position: absolute;
    opacity: 90%;
    top: 40px;
    left: 40px;
    z-index: 1;
}

#free-pos-3 {
    width: 236px;
    height: 236px;
    position: absolute;
    opacity: 90%;
    top: 80px;
    left: 80px;
    z-index: 4;
}

#free-pos-4 {
    width: 236px;
    height: 236px;
    position: absolute;
    opacity: 90%;
    bottom: 80px;
    right: 80px;
    z-index: 3;
}

#free-pos-5 {
    width: 236px;
    height: 236px;
    position: absolute;
    opacity: 90%;
    bottom: 40px;
    right: 40px;
    z-index: 2;
}

/* EXERCICE 7 */
/* FLOAT */

#float-1 {
    float: left;
    width:  250px;
    height: 250px;
}

#float-2 {
    float: left;
    width:  250px;
    height: 250px;
}

#float-3 {
    float: none;
    clear: both;
    width: 1200px;
    height: 200px;
}

#float-4 {
    float: right;
    width: 250px;
    height: 250px;
}

#float-5 {
    float: right;
    width: 250px;
    height: 250px;
    background-color: grey;
    border: 2px solid black;
}

/* EXERCICE 8 */
/* STICKY MENU */

#sticky-menu {
    position: sticky;
    float: left;
    width: 100px;
    height: 100px;
    top: 20px;
    padding: 20px;
    border: none;
    border-radius: 10px;
}

ul {
    padding-inline-start: 0px;
}

ul li {
    padding: 0;
    margin: 0;
    text-align: center;
    list-style-type: none;
}

p {
    padding: 5px;
    margin: auto;
    text-align: justify;
}

#keep-scroll {
    height: 1000px;
}