fieldset, h1 {
    text-align: center;
  }

.vert {
    background-color: greenyellow;
}

.violet {
    background-color: hotpink;
}

.orange {
    background-color: black;
}

/*EXERCICE 1*/
/*NO POSITION*/

#no-position-1 {
    width: 600px;
    height: 200px;
    margin: auto;
    padding-top: 50px;
}

#no-position-2 {
    width: 400px;
    height: 100px;
    margin: auto;
    padding-top: 50px;

}

#no-position-3 {
    width: 200px;
    height: 10px;
    margin: auto;
    padding-top: 50px;

}

/*EXERCICE 2*/
/*POSITION RELATIVE*/

#relative-1 {
    width: 610px;
    height: 200px;
    position: relative;
    margin: auto;
}

#relative-2 {
    width: 450px;
    height: 100px;
    position: relative;
    top: 50px;
    left: 240px;
}

#relative-3 {
    width: 330px;
    height: 50px;
    position: relative;
    top: 25px;
    right: 300px;
}

